
*{
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container{
  width: 100vw;
  height: 20vh;
  padding-top:2rem;
  padding-left: auto;
  padding-right: auto;
  color:brown;
  background-color:wheat;
  font-size: 1.5rem;
}

.header{
  font-size: 1.8rem;
  font-weight: bolder;
  color:lightskyblue;
}

.areamain{
  background-color: lightcyan;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  justify-content: stretch;
  
}

.area1,
.area2,
.area3{
  padding-bottom: 3rem;
}



/*
h1{
  width: 100vw;
  height: 5vw;
  background-color:#84A98C;
  text-align: center;
  padding: 12px;
}

h2{
  width: 100vw;
  height: 30vh;
  background-color: #CAD2C5;
  text-align: center;
  text-transform: capitalize;
  padding: 15px;
}